<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Montserrat|Saira+Stencil+One&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='./stylesheets/style.css'/>


    <title><%= title %></title>

  </head>

  <body>
  	<div><%- partial('partials/navbar') -%></div>

    <div id="form">
      <div class="containter col-md-10" id="rider">
        <h2>Please enter rider information into the form.</h2>
        <br>
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Artist Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">DOS Contact</label>
            <input type="text" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">DOS Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">DOS Phone Number</label>
            <input type="text" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Stage</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option></option>
              <option>Power Plant</option>
              <option>Float Den</option>
              <option>Ballroom</option>
              <option>Back Alley</option>
              <option>VIP Lounge</option>
            </select>
          </div>
          <div id="addItem">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Item Type</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option></option>
                <option>Alchohol</option>
                <option>Water</option>
                <option>Soda</option>
                <option>Other Drink</option>
                <option>Chips</option>
                <option>Bread</option>
                <option>Salsa</option>
                <option>Hummus</option>
                <option>Nuts</option>
                <option>Cheese</option>
                <option>Coffee</option>
                <option>Chocolate</option>
                <option>Fruit</option>
                <option>Vegtables</option>
                <option>Organic Fruit/Vegtables</option>
                <option>Gluten Free</option>
                <option>Other Snack</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Item</label>
              <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Item Brand</label>
              <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Quantity</label>
              <input type="text" class="form-control" id="exampleFormControlInput1">
            </div><div class="form-group">
              <label for="exampleFormControlInput1">Special Instructions</label>
              <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <div id="addedSection">
              
            </div>
          </div> <!-- end of addItem div -->
          <button type="button" class="btn btn-outline-secondary col-md-2" id="addButton">Add Item +</button>
          <br><br>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Extra Notes</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
        <button type="submit" class="btn btn-outline-primary col-md-2">Submit</button>
      </div>  <!-- End of rider div -->
    </div> <!-- End of form div -->


    <div><%- partial('partials/footer') -%></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./javascripts/form.js"></script>
  </body>
</html>


