	<footer class="container-fluid fixed-bottom">
			<p>&copy; EasyRider by Victoria Wilson 2019</p>
			<ul class="container">
				<li><a href="/About">About</a></li>
				<li><a href="/EasyRider">EasyRider</a></li>
				<li><a href="/">Home</a></li>
			</ul>
	</footer>