	<footer class="container-fluid fixed-bottom">
			<p>&copy; Victoria Wilson 2019</p>
			<ul class="container">
				<li><a href="#top">Home</a></li>
				<li><a href="#top">About</a></li>
				<li><a href="#top">EasyRider</a></li>
			</ul>
	</footer>