<div class="container-fluid col-md-12">
  <nav class="navbar navbar-dark  fixed-top" id="navbar">
    <a class="navbar-brand" href="#"><img src="./images/transparent_logo.png" id="navlogo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/EasyRider">EasyRider</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/About">About</a>
        </li>
        <li class="divider"></li>
      </ul>
    </div>
  </nav>
</div>
