<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Montserrat|Saira+Stencil+One&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='./stylesheets/style.css'/>


    <title><%= title %></title>

  </head>

  <body>
  	<div><%- partial('partials/navbar') -%></div>

    <div id="carousel">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../images/personality.gif" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../images/buku.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../images/voodoo.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../images/platinum.jpg" alt="Fourth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../images/nola.jpg" alt="Fifth slide">
          </div>
        </div>
      </div>  
    </div>


    <div class="card col-md-12" id="aboutCard">
      <div class="card-body">
        <h5 class="card-title">About Me!</h5>
        <h6 class="card-subtitle mb-2 text-muted">Victoria Wilson</h6>
        <hr>
        <p class="card-text">I'm Victoria, an independant contractor with festival work.
          <br> <br>
          EasyRider is a program that is used in Artist Hospitality for festivals, corporate events, and at venues who deal with artists. All of the events have artist riders coming in with requests for specific needs that the event should supply for them. This program will take all of the information from the rider and compile it into our database and gives the client an easy to use web-based application that will supply them with shopping lists, organizational help, and always available customer service if any problems arise. This is the perfect time to create a program like this because the market has a void that needs to be filled. The competitors that are out there focus on the whole festival or on other specific areas, but none are specialized in artist hospitality. After many consultations with industry professionals who work in artist hospitality for a living, I have confirmed that if this program were created, it would be heavily used by many different events. The festival industry is finally starting to catch up to the technological advances of our time, but Artist Hospitality has seemed to be left behind, and I would like to bring us into the future with the help of this application. 
        </p>
        <a href="https://www.facebook.com/valkyry11?ref=bookmarks" class="card-link">Facebook</a>
        <a href="https://www.instagram.com/valkyry_/" class="card-link">Instagram</a>
        <a href="https://www.linkedin.com/in/victoriaelizabethwilson/" class="card-link">LinkedIn</a>
      </div>
    </div>


    <div><%- partial('partials/footer') -%></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


