/*
Fonts:
font-family: 'Saira Stencil One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Major Mono Display', monospace;

Colors:
light blue: #d4e8f4
bright turqouise: #2dd8a5
medium green: #90de66
dusty navy blue: #585563
grey black: #2d2d2a
coral: #ff5757 
*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #d4e8f4;
}

.navbar a {
	color: #ff5757;
	font-size: 20px;
	font-style: bold;
    font-family: 'Major Mono Display', monospace;
    display: block;
}
h1 {

    font-family: 'Major Mono Display', monospace;

}

